@import url("styles.css");

#login-section {
  padding: 20px 0;
}

.dsc-login-form-container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.dsc-login-form-buttons {
  width: 100%;
}

@media (min-width: 576px) {
  #login-section {
    padding: 40px 0;
  }
}
