@import url("styles.css");

#product-form-section {
  padding: 20px 0;
}

.dsc-product-form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.dsc-product-form-buttons {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

@media (min-width: 576px) {
  #product-form-section {
    padding: 40px 0;
  }
}
